@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  background-color: #BDBDBD;
  color: #1b1b1b;
  text-align: center;
  margin: 0;
}


a:link {
  font-family: "Arapey";
  color: #1b1b1b;
  font-size: 30px;
  text-decoration: none;
}


a:visited {
  font-family: "Arapey";
  color: #1b1b1b;
  font-size: 30px;
  text-decoration: none;
}

#matchHistoryTable {
  width: 90%;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  width: 80%;
  font-family: "Arapey";
  margin: 20px auto;
}

th,
td {
  padding: 10px;
}

th {
  color: black;
}

h1 {
  font-family: "Fredericka the Great";
  color: #1b1b1b;
  text-align: center;
}