@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #BDBDBD;
}

#createPlayer {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}

h1 {
  font-family: "Fredericka the Great";
  color: #1b1b1b;
}

h2 {
  font-family: "Arapey";
  text-align: center;

}

.player-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

input {
  flex: 1;
  font-family: "Arapey";
  font-size: 30px;
  text-align: center;
  width: 10vh;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Arapey";
  margin-top: 10px;
}


.clickable-text {
  display: block;
  margin: 10px;
  padding: 15px;
  font-size: 38px;
  font-family: "Arapey";
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}

.clickable-text:hover {
  color: white;
}

a:link {
  font-family: "Arapey";
  color: #1b1b1b;
  font-size: 30px;
  margin-top: auto;
  text-decoration: none;
}

a:hover {
  color: rgb(119, 119, 119);
}

nav {
  text-align: center;
  font-size: 30px;
}

a:visited {
  font-family: "Arapey";
  color: #1b1b1b;
  font-size: 30px;
  text-decoration: none;
}