@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #BDBDBD
}

#game-container {
  text-align: center;
}

.clickable-text {
  display: block;
  margin: 10px;
  padding: 15px;
  font-size: 38px;
  font-family: "Arapey";
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}

h1 {
  font-size: 55px;
  font-family: "Fredericka the Great";
}

.clickable-text:hover {
  color: white
}